<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
</head>
<body>
<nav class="navbar bg-secondary navbar-fixed-top">
   <div class="container-fluid">
     <h4 class="fw-bold text-light bg-success">National Forest</h4>
      <form class="d-flex">
        <a class="nav-link active text-light" href="/show">Home</a>
		<a class="nav-link active text-light"  href="/show">Donate</a>
		<a class="nav-link active text-light"  href="/new">Sign Up</a>
		<a class="nav-link active text-light" href="/new">Login</a>
      </form>
   </div>
</nav>
<div class="container-fluid  bg-success text-white text-center">
	<h3>THE NATIONAL FOREST</h3>
	<h3>THE NATIONAL FOREST</h3>
	<h4>Let's grow our National Forest together</h4>
	<h6>Donate here..</h6>
</div>
<main>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
			  <h1 class="fw-light text-muted">Donate for the Forest</h1>
			  <p class="lead text-muted">Give monthly or One of donation..?</p>
			   <div class="container-fluid">  
  				 <button type="button" class="btn btn-info">$10</button>
				 <button type="button" class="btn btn-info">$50</button> 
				 <button type="button" class="btn btn-info">$100</button> 
  				 <button type="button" class="btn btn-info">$Other</button>     
               </div>  
			   <div>
  				  <a href="show" class="btn btn-primary my-2">Monthly donation</a>
				  <a href="show" class="btn btn-secondary my-2">One-of donation</a>
               </div>
           </div>
		</div>
   </section>
</main>
<div class="container p-5">
	<div class="row gap-5">
		<div class="col">
			<%=image_tag ("Plant/plant.jpg")%>
		</div>
		<div class="col">
			<p class=" fs-2 fw-bold">These challenges will be helpful if you are:</p>
           We don’t just accept donations via our website, we’re happy to receive written donations too. If you’d like to donate to us by post, just send a cheque to our main office address.</p>
           <a class="btn btn-info btn-lg" href="/show" role="button">Contact Us</a>
		</div>
	</div>
</div>
<div class="container p-5 bg-light">
	<p class="fs-1 fw-bold text-center">Other ways to donate..!</p>
	<div class="row gap-5">
		<div class="col bg-info" >
			<h3><p class="text-center">Leave a legacy to the Forest</p></h3>
			<p>class="text-light">Leave a gift in your will. A legacy to the Forest can help us to continue to create a Forest for everyone. Making it more accessible. Thriving with wildlife. And benefiting generations for many years to come.</p>
			<a class="btn btn-warning btn-lg" href="/show" role="button">Find out more</a>
		</div>
		<div class="col bg-secondary" >
			<h3><p class="text-center">Make a donation by posts<p></h3>
			<p>Leave a gift in your will. A legacy to the Forest can help us to continue to create a Forest for everyone. Making it more accessible. Thriving with wildlife. And benefiting generations for many years to come.</p>
			<a class="btn btn-warning btn-lg" href="/show" role="button">Contact Us</a>
		</div>
		<div class="col bg-primary" >
			<h3><p class="text-center">Become a business partner</p></h3>
			<p>Align your business to our values too. Work with us to improve your environmental impact, and help us create a sustainable Forest that is supporting businesses, people and wildlife to thrive.</p>
			<a class="btn btn-warning btn-lg" href="/show" role="button">Find out more</a>
		</div>
	</div>
</div>
<div class="container bg-dark p-5">
	<h3><div class="text-light">Imporatance of donation</div></h3>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
        	<h4 class="panel-title"></h4>
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Click Me</a>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
        	<div class="panel-body">The future generations are very unlucky since we are providing them with very less green spaces and they only have to identify the beauty of nature’s greenery by reading through old chronicles and encyclopedias.if u want to save trees please donate and save tree..
		</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
    	<h4 class="panel-title"></h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Stop all these</a>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"> Deforestatiob is the big issue due to deforestation, soil loses its water holding capacity, becomes loosely held and unfit for cultivation. The binding agents of the soil get eroded when there is no tree cover to hold them firmly in the ground. Thus soil along with the most essential nutrients found in the uppermost layers of the soil gets eroded and the land turns totally barren..</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
    	<h4 class="panel-title"></h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Soon we will get</a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
    	<div class="panel-body">You need to buy oxygen with high cost than any other precious things in the world, Think once and donate for the life of tree.</div>
	</div>
</div>
</div> 
</div>
<div class="container p-5">
	<div class="row gap-5">
		<div class="col">
			<%=image_tag ("Plant/fund1.jpg")%>
		</div>
		<div class="col">
			<h3 class="text-warning">Protecting trees also very important at the same time.</h3>
            <p class="text-dark">Forests are rapidly disappearing all over the world, alarming many people. The loss of this natural resource could spell disaster for our planet. Most of us are unsure of how we can do anything to stop this. How can we prevent this global crisis? Well, chaining yourself to a tree might make a statement, but there are many more efficient ways to prevent deforestation.
            Protecting the world's forests should be our very first priority in fighting global warming and climate change. Forests are critical to life on earth.  1.6 billion people rely on them directly for food, shelter, fuel and income.</p>
		</div>
	</div>
</div>
<div id="section3" class="container bg-secondary text-white" style="padding:50px 20px;">
    <h1>How to donate monthly</h1>
    <p class="text-info">Donating monthly has never been easier. Just select your donation amount from the values below and set up your recurring monthly purchase through our secure checkout. Once completed, you’ll receive a downloadable thank you letter from us and we’ll keep you updated on how your donations are helping.</p>
</div>
<div id="section3" class="container bg-basic text-dark" style="padding:30px 15px;">
    <h1>Dedicate a grove</h1>
    <p class="text-dark">You can be part of growing the National Forest by planting a complete woodland grove with us.</p>
</div>
<div class="row text-center">
	<div class="footer__logo col-xs-12 col-sm-4">
		<span class="sr-only">The National Forest logo</span>
	</div>
	<div class="footer__copyright col-xs-12 col-sm-4 p-5">
        <small>The National Forest Company</small>
        <small>Charity number 123456</small>
        <small>© 2022 The National Forest Company</small>
        <span class="sr-only">Logo for being registered with Fundraising Regulator</span>
    </div>
    <div class="footer__additional col-xs-12 col-sm-4">
        <div class="footer__defra"><span class="sr-only">Department for Environmental Food and Rural Affairs logo</span></div>
            <div class="footer__frr"><span class="sr-only">Register with Fundraising Regulator</span></div>
            	<div class="footer__tripadvisor"><span class="sr-only">Ratings Powered by Tripadvisor</span></div>
            </div>
        </div>
    <div>
<ul>
    <li class="nav-item">
        <a class="nav-link" href="/show">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/new">Give feedback</a>
    </li>
</ul>
</div>
</body>
</html>

