<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
</head>
<body style="height:1500px">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <div class="bg-success"><i class="bi bi-tree-fill"></i></div>
      <a class="navbar-brand" href="#" >National forest</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/show">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/show">Donate</a>
            </li>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/show">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/new">Sign Up</a>
            </li>
           </ul>
          </ul>
        </div>
      </div>
     </div>
  </div>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#section1">Plant a tree</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#section2">Dedicate a grove</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#section3">How to donate monthly</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid  bg-success text-white text-center">
  <h1>THE NATIONAL FOREST</h1>
  <h3>THE NATIONAL FOREST</h3>
  <h4>Let's grow our National Forest together</h4>
  <h6>Donate here..</h6>
</div>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-muted">Donate for the Forest</h1>
        <p class="lead text-muted">Give monthly or One of donation..?</p>
        
        <div class="container-fluid">  
         <button type="button" class="btn btn-info">$10</button> 
         <button type="button" class="btn btn-info">$50</button> 
         <button type="button" class="btn btn-info">$100</button> 
        <button type="button" class="btn btn-info">$Other</button>     
        </div>  
          <a href="show" class="btn btn-primary my-2">Monthly donation</a>
          <a href="show" class="btn btn-secondary my-2">One-of donation</a>
        </p>
      </div>
    </div>
  </section>
</main>
 <div class="d-flex justify-content-start">
  <div class="container text-secondary d-flex justify-content-betweens ">
    <%= image_tag ("Plant/plant.jpg"), width:'700px',height:'400px' %>
  </div>
    <div class="container d-flex justify-content-betweens">
     <div><h4>Make a donation by posts</h4>
       <p class="text-dark">We don’t just accept donations via our website, we’re happy to receive written donations too. If you’d like to donate to us by post, just send a cheque to our main office address.</p>
       <a class="btn btn-info btn-lg" href="/show" role="button">Contact Us</a>
     </div>
   </div>
  </div>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
     <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-light bg-secondary">Other ways to Donate..!</h1>
     </div>
    </div>
  </section>
<div class="d-flex justify-content-start">
  <div class="container text-secondary d-flex justify-content-betweens bg-info">
    <div ><h4>Leave a legacy to the Forest</h4>
     <p class="text-light">Leave a gift in your will. A legacy to the Forest can help us to continue to create a Forest for everyone. Making it more accessible. Thriving with wildlife. And benefiting generations for many years to come.</p>
     <a class="btn btn-warning btn-lg" href="/show" role="button">Find out more</a>
    </div>
  </div>
    <div class="container text-important d-flex justify-content-betweens bg-secondary">
     <div><h4>Make a donation by posts</h4>
      <p class="text-light">We don’t just accept donations via our website, we’re happy to receive written donations too. If you’d like to donate to us by post, just send a cheque to our main office address.</p>
      <a class="btn btn-warning btn-lg" href="/show" role="button">Contact Us</a>
    </div>
  </div>
   <div class="container text-important d-flex justify-content-betweens bg-info">
      <div><h4>Become a business partner</h4>
       <p class="text-light">Align your business to our values too. Work with us to improve your environmental impact, and help us create a sustainable Forest that is supporting businesses, people and wildlife to thrive.</p>
       <a class="btn btn-warning btn-lg" href="/show" role="button">Find out more</a>
     </div>
   </div>
 </div>
</div>
<div class="container mt-5 p-5 bg-dark">
<div class="badge bg-primary"><h5>Imporatance of donation</h5></div>
  <div id="accordion">
    <div class="card">
      <div class="card-header">
         <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
          <div class="badge bg-dark"><h5>click on me</h5></div>
           </a>
          </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
             <div class="card-body">
              The future generations are very unlucky since we are providing them with very less green spaces and they only have to identify the beauty of nature’s greenery by reading through old chronicles and encyclopedias.if u want to save trees please donate and save tree.
             </div>
          </div>
        </div>
         <div class="card">
          <div class="card-header">
           <a class="btn" data-bs-toggle="collapse" href="#collapseTwo">
            <div class="badge bg-dark"><h5>Stop all these</h5></div>
             </a>
           </div>
             <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
               <div class="card-body">
                Deforestatiob is the big issue due to deforestation, soil loses its water holding capacity, becomes loosely held and unfit for cultivation. The binding agents of the soil get eroded when there is no tree cover to hold them firmly in the ground. Thus soil along with the most essential nutrients found in the uppermost layers of the soil gets eroded and the land turns totally barren.
               </div>
            </div>
          </div>
           <div class="card">
            <div class="card-header">
               <a class="btn" data-bs-toggle="collapse" href="#collapseThree">
               <div class="badge bg-dark"><h5>Soon we will get</h5></div>
               </a>
               </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                 <div class="card-body">
                   You need to buy oxygen with high cost than any other precious things in the world, Think once and donate for the life of tree.
                 </div>
                </div>
              </div>
           </div>
         </div>
           <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
             <h1>PLant A tree</h1>
             <p>You can help to grow the Forest by planting a tree.Whether in your garden or with us, planting a tree is a special experience and it’s easy to do.</p>
           </div>
             <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
               <h1>Dedicate a grove</h1>
               <p>You can be part of growing the National Forest by planting a complete woodland grove with us.</p>
              </div>
            <div class="container p-5 bg-info">
             <div class="d-flex justify-content-start">
              <div class="container text-secondary d-flex justify-content-betweens ">
                 <%= image_tag ("Plant/fund1.jpg"), width:'400px',height:'300px' %>
              </div>
                <div class="container text-important d-flex justify-content-betweens bg-secondary">
                 <div><h4>Protecting trees also very important at the same time.</h4>
                      <p class="text-light">Forests are rapidly disappearing all over the world, alarming many people. The loss of this natural resource could spell disaster for our planet. Most of us are unsure of how we can do anything to stop this. How can we prevent this global crisis? Well, chaining yourself to a tree might make a statement, but there are many more efficient ways to prevent deforestation.

                    Protecting the world’s forests should be our very first priority in fighting global warming and climate change. Forests are critical to life on earth.  1.6 billion people rely on them directly for food, shelter, fuel and income.</p>
                  </div>
                </div>
             </div>
           </div>
             <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
                <h1>How to donate monthly</h1>
                 <p>Donating monthly has never been easier. Just select your donation amount from the values below and set up your recurring monthly purchase through our secure checkout. Once completed, you’ll receive a downloadable thank you letter from us and we’ll keep you updated on how your donations are helping.</p>
  
              </div>
           </div>
         </div>
          <div class="row text-center">
             <div class="footer__logo col-xs-12 col-sm-4">
               <span class="sr-only">The National Forest logo</span>
            </div>
              <div class="footer__copyright col-xs-12 col-sm-4">
               <small>The National Forest Company</small>
               <small>Charity number 123456</small>
               <small>© 2022 The National Forest Company</small>
               <span class="sr-only">Logo for being registered with Fundraising Regulator</span>
            </div>
            <div class="footer__additional col-xs-12 col-sm-4">
              <div class="footer__defra"><span class="sr-only">Department for Environmental Food and Rural Affairs logo</span></div>
               <div class="footer__frr"><span class="sr-only">Register with Fundraising Regulator</span></div>
               <div class="footer__tripadvisor"><span class="sr-only">Ratings Powered by Tripadvisor</span></div>
              </div>
            </div>
          <div>
            <ul>
             <li class="nav-item">
             <a class="nav-link" href="/show">Contact Us</a>
           </li>
             <li class="nav-item">
              <a class="nav-link" href="/new">Give feedback</a>
            </li>
           </ul>
        </div>
   </body>
</html>
